<html>
  <head>
    <meta charset="utf-8">
    <style>
        [v-cloak]{
            display: none;
        }
    </style>
  </head>
  <body>
    <div id="app">
        <div class="newTask">
            <input type="text" v-on:keyup.enter="addTodo" v-model="newTodo">
        </div>
        <ol class="todos">
            <li v-for="item in todoList" v-cloak>
                <input type="checkbox" v-model="item.done">
                {{item.title}}{{item.createdTime}}
                <span v-if="item.done">已完成</span>
                <span v-else>未完成</span>
                <button v-on:click="removeTodo(item)">×</button>
            </li>
        </ol>
    </div>
    <script src="bundle.js"></script>
  </body>
</html>