/*css reset*/
html, body {
    margin: 0;
    padding: 0;
}
ul {
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;
}

/*common css*/
.layout {
    width: 1140px;
    margin: 0 auto;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

/*specified css*/
#header {
    position: fixed;
    left: 0;
    right: 0;
    height: 50px;
    padding: 25px 0;
    background: #333;
    z-index: 999;
}
.nav-title {
    float: left;
    color: #fed136;
    font-size: 28px;
    line-height: 50px;
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
}
.nav-right {
    float: right;
    margin: 0;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.nav-right li {
    display: inline-block;
    padding: 0 10px;
    text-transform: uppercase; 
}
.nav-right > li > a {
    display: block;
    font-size: 14px;
    letter-spacing: 0.1em;
    color:#fff;
}

.overview {      /*background简写顺序*/
    padding: 300px 0;
    background: url(img/header-bg.jpg) no-repeat center center /cover;
    text-align: center;
    color: #fff;
}
.overview .intro1 {
    font-size: 40px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: italic;
    margin-top:0;
    margin-bottom: 25px;
    font-weight: 100;
}
.overview .intro2 {
    font-size: 75px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: 0;
    margin-bottom: 50px;
}
.overview a {
    padding: 20px 40px;
    background: #fed136;
    border-radius: 3px;
    font-size: 18px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.service {
    padding: 150px 0;
    text-align: center;
}
.service-intr li {
    float: left;
    box-sizing: border-box;
    width: 380px;
    padding: 0 15px;
}
h4.title {
    font-size: 40px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 15px;
    margin-top: 0;
}
h4.title + .description {
    margin:20px 0;
    font-size: 16px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #777;
}
i.fa-circle {
    color: #fed136;
}
.service-intr h5 {
    margin: 15px 0;
    font-size: 18px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
.service-intr p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.4;   /*数值，无单位*/
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #777;
}
.container {
    background: #f7f7f7;
}
.portfolio {
    text-align: center;
    padding: 150px 0;
}
.portfolio-intr {
    
}
.portfolio-intr li {
    float: left;       /*浮动，图片太大会超出父容器*/
    width: 360px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    background: #fff; 
    border-radius: 2px;
}
.portfolio-intr {       
    margin-left: -15px;
    margin-right: -15px;
}
.portfolio-intr li img {
    width: 360px;
    overflow: hidden;
}
.portfolio-intr h4 {
    margin-bottom: 0;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 18px;
}
.portfolio-intr h4 + p {
    margin-top: 0;
    font-size: 16px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #777;
    font-style: italic;
    line-height: 1.75;   /*用line-height控制单行文本上下间距也可以*/
}
.about {
    text-align: center;
    padding: 150px 0;
}
.timeline {
    margin-top: 75px;
}
.timeline img {
    height: 156px;
    width: 156px;
    border: 7px solid #f1f1f1;
    border-radius: 50%;
    margin-bottom: -7px;
}
.timeline li {
    position: relative;
}
.timeline .event-intr {
    position: absolute;
    top: 0;
    right: 50%;
    padding-left: 110px;
    padding-right: 110px;
    text-align: right;
}
.timeline li:nth-child(even) .event-intr {
    left: 50%;
    right: 0;
    text-align: left;
}

.timeline li:after {
    content:"";
    display: block;
    width:2px;
    height:125px;
    background: #f1f1f1;
    position: relative;
    left: 50%;
    top: 0;
}
.timeline li:last-child:after {
    height: 0;
    width: 0;
}
.timeline .event-intr > h5 {
    margin-bottom: 10px;
    margin-top: 0;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    
}
.timeline .event-intr > p {
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.75;
    color: #777;
}
.timeline-end {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 156px;
    width: 156px;
    background: #fed136;
    border: 7px solid #f1f1f1;
    border-radius: 50%;
    margin: 0 auto;
    font-size: 18px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}
.team {
    text-align: center;
    padding: 150px 0;
}
.member img {
    height: 225px;
    width: 225px;
    border: 7px solid #fff;
    border-radius: 50%;
    
}
.member li {
    padding: 0 60px;
    float: left;
}
.member-contact a {
    display: inline-block;
    background: #000;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
}
