.go-top{
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 35px;
  width: 35px;
  /* background: #1e88e5; */
  background:red;
  opacity: 0.4;
  border-radius: 3px;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
  color: #e0e0e0;
  font-family: 'Helvetica Neue',Helvetica,'sans-serif';
  cursor: pointer;
}
.go-top:hover{
  opacity: 0.8;
}